<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>The Designer's Store | E-Commerce</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/assets/css/flaticon.css">
  <link rel="stylesheet" href="static/assets/css/slicknav.css">
  <link rel="stylesheet" href="static/assets/css/animate.min.css">
  <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="static/assets/css/themify-icons.css">
  <link rel="stylesheet" href="static/assets/css/slick.css">
  <link rel="stylesheet" href="static/assets/css/nice-select.css">
  <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>

  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="static/assets/img/logo/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <header>

    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="menu-wrapper">

            <div class="logo">
              <a href="/"><img src="static/assets/img/logo/logo.png" alt=""></a>
            </div>

            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="/">Home</a></li>
                  <li><a href="/shop">shop</a></li>
                  <li><a href="/about">about</a></li>
                  <li class="hot"><a href="#">Latest</a>
                    <ul class="submenu">
                      <li><a href="/shop"> Product list</a></li>
                      <li><a href="/productdetails"> Product Details</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Pages</a>
                    <ul class="submenu">
                      <li><a href="/login">Login</a></li>
                      <li><a href="/cart">Cart</a></li>
                      <li><a href="/confirmation">Confirmation</a></li>
                      <li><a href="/checkout">Product Checkout</a></li>
                    </ul>
                  </li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
              <ul>
                <li>
                  <div class="nav-search search-switch">
                    <span class="flaticon-search"></span>
                  </div>
                </li>
                <li> <a href="/login"><span class="flaticon-user"></span></a></li>
                <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
              </ul>
            </div>
          </div>

          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <main>

    <div class="slider-area ">
      <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap text-center">
                <h2>About Us</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="about-details section-padding30">
      <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-lg-8">
            <div class="about-details-cap mb-50">
              <h4>Our Mission</h4>
              <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias velit
                voluptates esse recusandae cum? Sit ducimus inventore tempora saepe nobis. Dolorum laborum totam rem
                explicabo eligendi sed cumque recusandae aspernatur! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Aliquid architecto dolores tempora perferendis, repellendus eius! Optio aut pariatur ipsum?
                Eveniet in quaerat repellendus vitae deserunt nesciunt perferendis fugiat</p>
            </div>
            <div class="about-details-cap mb-50">
              <h4>Our Vision</h4>
              <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias velit
                voluptates esse recusandae cum? Sit ducimus inventore tempora saepe nobis. Dolorum laborum totam rem
                explicabo eligendi sed cumque recusandae aspernatur! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Aliquid architecto dolores tempora perferendis, repellendus eius! Optio aut pariatur ipsum?
                Eveniet in quaerat repellendus vitae deserunt nesciunt perferendis fugiat</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="video-area mb-100">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="video-wrap">
              <div class="play-btn "><a class="popup-video" href="https://www.youtube.com/watch?v=KMc6DyEJp04"><i
                    class="fas fa-play"></i></a></div>
            </div>
          </div>
        </div>

        <div class="thumb-content-box">
          <div class="thumb-content">
            <h3>Next Video</h3>
            <a href="#"> <i class="flaticon-arrow"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="shop-method-area">
      <div class="container">
        <div class="method-wrapper">
          <div class="row d-flex justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-method mb-40">
                <i class="ti-package"></i>
                <h6>Free Shipping Method</h6>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                  numquam quaerat sint atque
                  reiciendis commodi ipsam blanditiis voluptas veniam doloremque temporibus illo aut sed odit </p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-method mb-40">
                <i class="ti-unlock"></i>
                <h6>Secure Payment System</h6>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                  numquam quaerat sint atque
                  reiciendis commodi ipsam blanditiis voluptas veniam doloremque temporibus illo aut sed odit </p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-method mb-40">
                <i class="ti-reload"></i>
                <h6>Faster Delivery System</h6>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                  numquam quaerat sint atque
                  reiciendis commodi ipsam blanditiis voluptas veniam doloremque temporibus illo aut sed odit </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <footer>

    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">

                <div class="footer-logo">
                  <a href="/"><img src="static/assets/img/logo/logo2_footer.png" alt=""></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Exercitationem, eos laudantium
                      reprehenderit assumenda qui culpa nostrum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#"> Offers & Discounts</a></li>
                  <li><a href="#"> Get Coupon</a></li>
                  <li><a href="#"> Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>New Products</h4>
                <ul>
                  <li><a href="#">Woman Cloth</a></li>
                  <li><a href="#">Fashion Accessories</a></li>
                  <li><a href="#"> Man Accessories</a></li>
                  <li><a href="#"> Rubber made Toys</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Support</h4>
                <ul>
                  <li><a href="#">Frequently Asked Questions</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Report a Payment Issue</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-8 col-md-7">
            <div class="footer-copy-right">

            </div>
            <div class="col-xl-5 col-lg-4 col-md-5">
              <div class="footer-copy-right f-right">

                <div class="footer-social">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-behance"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </footer>

  <div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
    </div>
  </div>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5f452b31cc6a6a5947aead87/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

  <script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

  <script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="static/assets/js/popper.min.js"></script>
  <script src="static/assets/js/bootstrap.min.js"></script>

  <script src="static/assets/js/jquery.slicknav.min.js"></script>

  <script src="static/assets/js/owl.carousel.min.js"></script>
  <script src="static/assets/js/slick.min.js"></script>

  <script src="static/assets/js/wow.min.js"></script>
  <script src="static/assets/js/animated.headline.js"></script>
  <script src="static/assets/js/jquery.magnific-popup.js"></script>

  <script src="static/assets/js/jquery.scrollUp.min.js"></script>
  <script src="static/assets/js/jquery.nice-select.min.js"></script>
  <script src="static/assets/js/jquery.sticky.js"></script>

  <script src="static/assets/js/contact.js"></script>
  <script src="static/assets/js/jquery.form.js"></script>
  <script src="static/assets/js/jquery.validate.min.js"></script>
  <script src="static/assets/js/mail-script.js"></script>
  <script src="static/assets/js/jquery.ajaxchimp.min.js"></script>

  <script src="static/assets/js/plugins.js"></script>
  <script src="static/assets/js/main.js"></script>


</body>


</html>