<!doctype html>
<html lang="zxx">


<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>The Designer's Store | E-Commerce</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/assets/css/flaticon.css">
  <link rel="stylesheet" href="../static/assets/css/slicknav.css">
  <link rel="stylesheet" href="../static/assets/css/animate.min.css">
  <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
  <link rel="stylesheet" href="../static/assets/css/slick.css">
  <link rel="stylesheet" href="../static/assets/css/nice-select.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
  <link rel='stylesheet' href='https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css'>
  <link rel="stylesheet" href="../static/assets/css/style.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <header>

    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="menu-wrapper">

            <div class="logo">
              <a href="/"><img src="static/assets/img/logo/logo.png" alt=""></a>
            </div>

            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="/">Home</a></li>
                  <li><a href="/shop">shop</a></li>
                  <li><a href="/about">about</a></li>
                  <li class="hot"><a href="#">Latest</a>
                    <ul class="submenu">
                      <li><a href="/shop"> Product list</a></li>
                      <li><a href="/productdetails"> Product Details</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Pages</a>
                    <ul class="submenu">
                      <li><a href="/login">Login</a></li>
                      <li><a href="/cart">Cart</a></li>
                      <li><a href="/confirmation">Confirmation</a></li>
                      <li><a href="/checkout">Product Checkout</a></li>
                    </ul>
                  </li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
              <ul>
                <li>
                  <div class="nav-search search-switch">
                    <span class="flaticon-search"></span>
                  </div>
                </li>
                <li> <a href="/login"><span class="flaticon-user"></span></a></li>
                <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
              </ul>
            </div>
          </div>

          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <main>

    <div class="slider-area ">
      <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap text-center">
                <h2>The Designer's Store</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="product_image_area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="product_img_slide owl-carousel">
              <div class="single_product_img">
                <img src="static/assets/img/gallery/popular011.jpg" alt="#" class="img-fluid">
              </div>
              <div class="single_product_img">
                <img src="static/assets/img/gallery/popular012.jpg" alt="#" class="img-fluid">
              </div>
              <div class="single_product_img">
                <img src="static/assets/img/gallery/popular013.jpg" alt="#" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="single_product_text text-center">
              <h3>Cool Green Thin Sweaters</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque minima quod quis, nulla molestiae
                dolorum corrupti dolor eos dignissimos officiis dicta cum modi cupiditate, eveniet saepe commodi non
                sint placeat.
              </p>
              <div class="card_area">
                <div class="product_count_area">
                  <p>Quantity</p>
                  <div class="product_count d-inline-block">
                    <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                    <input class="product_count_item input-number" type="text" value="1" min="0" max="100">
                    <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                  </div>
                  <p>₹ 749</p>
                </div>
                <div class="add_to_cart">
                  <a href="/cart" class="btn_3">Add to Cart</a>
                </div>
                <div style="margin-top: 50px;">
                  <h3>Reviews</h3>
                  <form action="/productdetails" method="POST">
                    <textarea class="form-control w-100" name="comments" id="text" cols="30" rows="9"
                      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'"
                      placeholder="Enter Message"></textarea>
                    <input type="text" id="comments" placeholder="" />
                    
                    <button class="btn_3" style="margin-top: 50px;" onclick="onSubmitComment"
                      id="commentButton">Submit</button>
                    <!-- <button class="btn_3" style="margin-top: 50px;" onclick="onSubmitComment()">Submit</button> -->
                    <i style="padding: 10px 10px; color: blue; height: 50px;" class="fas fa-microphone" id="mic"></i>

                  </form>
                </div>
                

                <br>

                <div class="wrapper">
                  <div class="container d-flex flex-column justify-content-center align-items-center">
                    <div class="title text-center mb-5">
                    </div>
                    <div class="chart-wrapper">
                      <canvas id="myChart"></canvas>
                    </div>
                  </div>
                </div>

                <div id="usercomments">
                  <p><b>User1 : </b>The design is good.</p>
                  <p><b>User2 : </b>This is good looking.</p>
                  <p><b>User3 : </b>It looks pretty but not fit in size.</p>
                  <p><b>User4 : </b>This is not so good as we see.</p>
                </div>
                {% if results %}
                <input type="hidden" id="var1" value={{results.var1}}>
                <input type="hidden" id="var2" value={{results.var2}}>
                <input type="hidden" id="var3" value={{results.var3}}>
                <div id='user-reviews'>

                  <div id="comments">
                    {{ results.comments }} <br>
                    {{ results.Emotions }} <br>
                    {{ results.Score }} <br>
                    {{ results.typeofSentiment }} <br>
                    {{results.var1}} <br>
                    {{results.var2}} <br>
                    {{results.var3}}
                  </div>

                  <!-- <div class="single_product_img"> -->
                  <!-- <img src="static/static/assets/img/graph.png" alt="#" class="img-fluid"> -->
                  <!-- </div> -->

                </div>
                {% endif %}
                <!-- <div id='user-reviews'> 
                  
                </div> -->
                <div>

                  <canvas id="myChart" width="400" height="400"></canvas>
                  <!-- <img height="500px" width="500px" src="../static/assets/img/graph.png" alt="graph"> -->
                  <!-- <img height="500px" width="700px" src="../static/assets/img/pie.png" alt="pie"> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <section class="subscribe_part section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="subscribe_part_content">
            <h2>Get promotions & updates!</h2>
            <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources
              credibly innovate granular internal .</p>
            <div class="subscribe_form">
              <input type="email" placeholder="Enter your mail">
              <a href="#" class="btn_1">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>

    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">

                <div class="footer-logo">
                  <a href="/"><img src="static/assets/img/logo/logo2_footer.png" alt=""></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#"> Offers & Discounts</a></li>
                  <li><a href="#"> Get Coupon</a></li>
                  <li><a href="#"> Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>New Products</h4>
                <ul>
                  <li><a href="#">Woman Cloth</a></li>
                  <li><a href="#">Fashion Accessories</a></li>
                  <li><a href="#"> Man Accessories</a></li>
                  <li><a href="#"> Rubber made Toys</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Support</h4>
                <ul>
                  <li><a href="#">Frequently Asked Questions</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Report a Payment Issue</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-8 col-md-7">
            <div class="footer-copy-right">

            </div>
          </div>
          <div class="col-xl-5 col-lg-4 col-md-5">
            <div class="footer-copy-right f-right">

              <div class="footer-social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-behance"></i></a>
                <a href="#"><i class="fas fa-globe"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
    </div>
  </div>
  <script>
    var results = JSON.parse('{{ results | safe}}');
    console.log(results);
    document.getElementById('user-reviews').innerHTML = results.Emotions + " " + results.Score + " " + result
      .typeofSentiment;
  </script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5f452b31cc6a6a5947aead87/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

  <!-- partial -->
  <script src='https://unpkg.com/babel-polyfill/dist/polyfill.min.js'></script>
  <script src='https://unpkg.com/vue/dist/vue.js'></script>
  <script src='https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.js'></script>
  <script src="../static/assets/js/voice.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

  <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

  <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="../static/assets/js/popper.min.js"></script>
  <script src="../static/assets/js/bootstrap.min.js"></script>

  <script src="../static/assets/js/jquery.slicknav.min.js"></script>

  <script src="../static/assets/js/owl.carousel.min.js"></script>
  <script src="../static/assets/js/slick.min.js"></script>

  <script src="../static/assets/js/wow.min.js"></script>
  <script src="../static/assets/js/animated.headline.js"></script>
  <script src="../static/assets/js/jquery.magnific-popup.js"></script>

  <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
  <script src="../static/assets/js/jquery.nice-select.min.js"></script>
  <script src="../static/assets/js/jquery.sticky.js"></script>

  <script src="../static/assets/js/contact.js"></script>
  <script src="../static/assets/js/jquery.form.js"></script>
  <script src="../static/assets/js/jquery.validate.min.js"></script>
  <script src="../static/assets/js/mail-script.js"></script>
  <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

  <script src="../static/assets/js/plugins.js"></script>
  <script src="../static/assets/js/main.js"></script>

  <script src="../static/assets/js/swiper.min.js"></script>

  <script src="../static/assets/js/mixitup.min.js"></script>
  <script src="../static/assets/js/jquery.counterup.min.js"></script>
  <script src="../static/assets/js/waypoints.min.js"></script>

  <script src="../static/assets/js/userReview.js"></script>


  <script defer src="../static/cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"si":10,"version":"2021.1.1","rayId":"61aa80945bc118ca"}'></script>
  <script src="../static/assets/js/chart.js"></script>
</body>


</html>